# Ignore everything by default
*

# Do not ignore directories so git can traverse them
!*/

# Do not ignore the .gitignore file itself
!.gitignore

# Allow only these 5 specific files
!AI-Driven-Customer-Analytics-Platform/1_customer_shopping_behavior_rawdata.csv
!AI-Driven-Customer-Analytics-Platform/2_customer_shopping_behavior_clean.csv
!AI-Driven-Customer-Analytics-Platform/3_WhatsApp\ Image\ 2026-06-13\ at\ 8.49.00\ PM.jpeg
!AI-Driven-Customer-Analytics-Platform/4_Problem\ Statement.pdf
!AI-Driven-Customer-Analytics-Platform/5_Customer_Shopping_Behavior_Analysis_Modern.pdf

