# Caches and temporary files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
.DS_Store

# Ignore all files under AI-Driven-Customer-Analytics-Platform directory
AI-Driven-Customer-Analytics-Platform/*

# Except the following 5 files
!AI-Driven-Customer-Analytics-Platform/1_customer_shopping_behavior_rawdata.csv
!AI-Driven-Customer-Analytics-Platform/2_customer_shopping_behavior_clean.csv
!AI-Driven-Customer-Analytics-Platform/3_WhatsApp\ Image\ 2026-06-13\ at\ 8.49.00\ PM.jpeg
!AI-Driven-Customer-Analytics-Platform/4_Problem\ Statement.pdf
!AI-Driven-Customer-Analytics-Platform/5_Customer_Shopping_Behavior_Analysis_Modern.pdf

